<!doctype html>
<html lang="en" dir="ltr">
  <%- include('layouts/head'); -%> 
<title>Change password </title>
<body>
  <%- include('layouts/header'); -%> 
  <%- include('layouts/sidebar'); -%> 
  <link rel="stylesheet" href="css/style.css">
<div class="contain">
  <br>
  <div class="col-lg-8 col-md-10 mx-auto" style="z-index: 1;">
    <% if(errors != null && errors.length > 0){ %>
    <ul class="list-group"></ul>
    <% for (var i = 0; i < errors.length; i++) { %>
    <li class="list-group-item list-group-item-danger"><%= errors[i] %></li>
    <% } %>
    </ul>
    <% } %>
    <div class="col-lg-8 col-md-10 mx-auto" style="z-index: 1;">
      <% if(success != null && success.length > 0){ %>
      <ul class="list-group"></ul>
      <% for (var i = 0; i < success.length; i++) { %>
      <li class="list-group-item list-group-item-success"><%= success[i] %></li>
      <% } %>
      </ul>
      <% } %>
  <form class="box" action="/change-password" method="POST">
            <h1>Change password</h1>
            <label for="password">Input current password</label>
            <input type="password" name="password" required placeholder="Enter Current Password" id="password">
            <label for="npassword">Enter new password</label>
            <input type="password" name="npassword" required placeholder="Enter New Password" id="npassword">
            <label for="cpassword">Re-enter new password</label>
            <input type="password" name="cpassword" required placeholder="Re-enter New Password" id="cpassword">
            <input type="submit" value="Login" onclick="">       
    </form>
</div>
    <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/picturefill/2.2.0/picturefill.min.js'></script><script  src="./script.js"></script>
  <script src="script.js"></script>


        <script src="assets/dist/js/bootstrap.bundle.min.js"></script>      
        </body>
